<!DOCTYPE html>
<html>

<body>
     <form method="POST" action="/moderator/payment">

    <input type="checkbox" name="payment" value ="online">Online </input>
    <br>
    <input type="checkbox" name="payment" value ="cash">Cash </input>
    <br>
        <input type="submit" value="Choose Payment">

    </form>
</body>
</html>