<!DOCTYPE html>
<html>

<body>

<form method="POST" action="/login">
  username: <input type="text" name="username"><br>
  password: <input type="password" name="password"><br>

  <br><br>

 <input type="submit" value="Submit">

</form>




</body>
</html>