<!DOCTYPE html>
<html>

<body>

<form method="POST" action="/moderator/register" >
  email: <input type="text" name="email"><br>
  city: <input type="text" name="city"><br>
  area: <input type="text" name="area"><br>
  address: <input type="text" name="address"><br>
  business_number: <input type="text" name="business_number"><br>
  bank_account: <input type="text" name="bank_account"><br>
  business_name: <input type="text" name="business_name"><br>
  business_type: <input type="text" name="business_type"><br>

  <br><br>

 <input type="submit" value="Submit">

</form>




</body>
</html>