<!DOCTYPE html>
<html>

<body>

<form method="POST" action="/moderatoraddspicture"  enctype="multipart/form-data" >

  PICTURE:<br>
  <input type="file" name="file"/>
  <br><br>

 <input type="submit" value="Submit">

</form>




</body>
</html>